/* Import fonts */
@import url("../fonts/Roboto.css");
/* Reset and normalize */
@import url("./normalize.css");
body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.body-container {
  width: 66%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  color: #101010;
  min-width: 740px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
}

.teachinder {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  font-size: 2.2rem;
  font-weight: bolder;
  color: #ffffff;
  text-shadow: 2px 1px 0 #101010, -1px -1px 0 rgb(240, 93, 75);
  transition: text-shadow 0.5s ease;
  cursor: pointer;
}

.teachinder:hover {
  text-shadow: 3px 1px 0 #101010, -3px -1px 0 rgb(230, 69, 48);
}

.search-form {
  display: flex;
  align-items: stretch;
}
.search-form button, .search-form input {
  font-size: 0.75rem;
}
.search-form input {
  margin-right: 15px;
  width: 180px;
  transition: all 0.7s ease-in;
}
.search-form input:hover {
  width: 345px;
}

button {
  border-color: rgb(240, 93, 75);
  border-width: 1px;
  border-style: solid;
  padding: 8px 15px;
  background: none;
  color: rgb(240, 93, 75);
  font-weight: bold;
  transition: background-color 0.5s ease, color 0.5s ease;
}

button:hover {
  color: white;
  background-color: rgb(230, 69, 48);
}

input:not([type=color]) {
  padding: 8px 6px;
}

select {
  padding: 8px 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2vw 4vw;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul a {
  color: rgb(240, 93, 75);
  text-decoration: none;
  padding-right: 13px;
  transition: color 0.5s ease;
}
nav ul a:hover {
  color: rgb(230, 69, 48);
}

hr {
  width: 40%;
  margin: 0 auto;
  border-color: #202020;
}

.teachers {
  padding: 1.2vw 4vw;
}

.top-teachers-name,
.statistics-name,
.favorites-name {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.teacher-filters {
  margin: 30px 0;
}

.filter-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  color: #8c8c8c;
  font-size: 0.77rem;
}
.filter-container section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.filter-container section select {
  margin-left: 10px;
}
.filter-container section label,
.filter-container section legend {
  transition: color 0.5s ease;
}
.filter-container section label:hover, .filter-container section legend:hover {
  color: #202020;
}
.filter-container > section:first-child {
  padding-left: 0;
}
.filter-container > section:not(:first-child) {
  border-left: 2px dotted #8c8c8c;
  padding-left: 10px;
}

.top-teachers {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  justify-items: stretch;
  gap: 0 0;
  padding-bottom: 1.2vw;
}

.teacher-figure figcaption {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-direction: column;
  text-align: center;
  font-size: 0.75rem;
}
.teacher-figure figcaption .teacher-name {
  padding: 0 30%;
  margin: 10px 0;
  font-weight: bold;
  font-size: 1.1rem;
}
.teacher-figure figcaption .teacher-subject {
  color: #7b7b7b;
}
.teacher-figure figcaption .teacher-country {
  margin: 6px 0;
  font-size: 0.6rem;
}
.teacher-figure .photo-star-container {
  position: relative;
}
.teacher-figure .photo-star-container .star {
  position: absolute;
  width: 1.8vw;
  min-width: 22px;
  top: 0.6vw;
  right: 1.7vw;
  /*right: -22px;*/
  z-index: 100;
}

.teacher-photo {
  width: 100%;
  text-align: center;
  width: 8.5vw;
  height: 8.5vw;
  min-width: 90px;
  min-height: 90px;
  margin: 5px auto;
  overflow: hidden;
  border-radius: 50%;
  border-color: #ea977b;
  border-width: 4px;
  border-style: solid;
}
.teacher-photo .teacher-initials {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(240, 93, 75);
  font-weight: bold;
  transition: transform 0.5s ease-in-out;
}
.teacher-photo img {
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.teacher-photo:hover {
  border-color: rgb(230, 69, 48);
  transition: border-color 0.5s ease-in-out;
}

.teacher-photo:hover img,
.teacher-photo:hover span {
  transform: scale(1.25);
  color: rgb(230, 69, 48);
}

.statistics {
  padding: 1.2vw 4vw;
}

.table-scroll-container {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.table-scroll-container thead {
  border-bottom: 1px solid #222222;
}
.table-scroll-container tbody tr:nth-child(2n) {
  background: #e8e2e8;
}
.table-scroll-container th {
  padding: 10px 24px;
  transition: all 0.4s ease-in-out;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}
.table-scroll-container th:hover {
  box-shadow: inset 0 -4px 0 #222222;
  background: #e8e2e8;
}
.table-scroll-container th:hover .table-arrow {
  opacity: 1;
}
.table-scroll-container th:first-child {
  text-align: left;
}
.table-scroll-container .table-statistics {
  width: 100%;
}
.table-scroll-container tbody > tr :first-child {
  text-align: left;
}
.table-scroll-container tbody > tr {
  text-align: center;
}
.table-scroll-container td {
  padding: 6px 12px;
  font-size: 0.825rem;
  transition: all 0.4s ease-in-out;
}
.table-scroll-container td:nth-child(1) {
  text-align: left;
}
.table-scroll-container .table-arrow {
  color: #1a9cb0;
  transition: opacity 0.3s ease;
  opacity: 0;
  margin-left: 8px;
  position: absolute;
}

.page-number {
  margin: 30px 0;
}
.page-number span {
  font-size: 0.9rem;
  margin: 1vw;
}

.unselected-page {
  color: #4da4b1;
  transition: color 0.5s ease;
  cursor: pointer;
}

.unselected-page:hover {
  color: #257582;
}

.favorites {
  padding: 1.2vw 0;
}

.favorites-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 1.2vw 4vw;
}

.favorites-figures {
  width: 100%;
  gap: 10px 20px;
  display: flex;
  justify-content: left;
  overflow-y: hidden;
  justify-content: space-between;
  margin: 0 20px;
}
.favorites-figures .teacher-figure {
  width: 140px;
}

.scroll {
  padding: 4.3rem 0;
}
.scroll img {
  min-width: 20px;
  min-height: 20px;
  width: 3.6vw;
  height: 3.6vw;
  opacity: 0.5;
  transition: opacity 0.5s ease;
  cursor: pointer;
}
.scroll img:hover {
  opacity: 1;
}

.left-arrow {
  top: 50%;
  left: 0px;
  position: absolute;
  transform: translate(20%, -50%);
}

.right-arrow {
  top: 50%;
  right: 0px;
  position: absolute;
  transform: translate(-20%, -50%);
}

.info-footer {
  padding: 1.2vw 0;
}
.info-footer article {
  padding: 1.2vw 4vw;
}
.info-footer p {
  font-size: 0.825rem;
}

.popup-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.add-teacher-popup,
.teacher-info-popup {
  max-width: 90vw;
  width: 800px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 0;
}
.add-teacher-popup header,
.teacher-info-popup header {
  background: #2f2f2f;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px 5px 0 0;
  font-size: 1.2rem;
}
.add-teacher-popup header .cross,
.teacher-info-popup header .cross {
  cursor: pointer;
}
.add-teacher-popup .dialog-main,
.teacher-info-popup .dialog-main {
  overflow-y: auto;
  max-height: 86vh;
}
.add-teacher-popup article,
.teacher-info-popup article {
  margin: 15px 20px;
  position: relative;
}
.add-teacher-popup article h3,
.teacher-info-popup article h3 {
  font-weight: bold;
  padding: 1.5vw 0;
}
.add-teacher-popup article p,
.teacher-info-popup article p {
  padding: 0.8vw 0;
  font-size: 0.8rem;
}
.add-teacher-popup article .email,
.teacher-info-popup article .email {
  color: #1a9cb0;
}
.add-teacher-popup article .star,
.teacher-info-popup article .star {
  position: absolute;
  width: 30px;
  top: 0;
  right: 0;
}

.add-teacher-popup {
  width: 520px;
}

.add-teacher-popup form {
  padding: 30px;
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px 0;
}
.add-teacher-popup form fieldset {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}
.add-teacher-popup form .two-columns {
  display: flex;
  gap: 0 20px;
}
.add-teacher-popup form .half-width {
  width: 50%;
}
.add-teacher-popup form .inline-inputs {
  gap: 0 5px;
}
.add-teacher-popup form .inline-inputs label {
  color: #202020;
}
.add-teacher-popup form legend {
  margin-right: 30px;
  width: fit-content;
}
.add-teacher-popup form button {
  font-size: 1.4rem;
}

.teacher-photo-info-popup {
  width: 40%;
  float: left;
  padding: 20px;
}

.description {
  clear: both;
}

.toggle-map {
  display: block;
  padding: 0 15px 20px 15px;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .body-container {
    width: 100%;
    min-width: 100%;
  }
  .header {
    flex-direction: column;
  }
  nav {
    flex-wrap: wrap;
    align-items: center;
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
  }
  .filter-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px 0;
    align-content: stretch;
  }
  .top-teachers {
    grid-template-columns: repeat(3, 33.3%);
  }
  .teacher-photo {
    width: 20vw;
    height: 20vw;
    min-width: 120px;
    min-height: 120px;
    gap: 5vw;
  }
  .teacher-figure figcaption .teacher-name {
    font-size: 1.4rem;
  }
  .teacher-figure figcaption .teacher-subject {
    font-size: 1.1rem;
  }
  .teacher-figure figcaption .teacher-country {
    font-size: 0.8rem;
  }
  .teacher-figure .photo-star-container .star {
    width: 4.2vw;
    top: 1vw;
    right: 4.5vw;
  }
}
@media screen and (max-width: 520px) {
  .top-teachers {
    grid-template-columns: repeat(2, 50%);
  }
  .search-form {
    width: 100%;
    justify-content: space-between;
  }
  .search-form input {
    width: 100%;
  }
  .search-form input:hover {
    width: 100%;
  }
  nav {
    justify-content: center;
    width: 100%;
    gap: 12px 0;
    padding: 3vw 4vw;
  }
  nav ul {
    width: 100%;
    justify-content: space-evenly;
  }
  .filter-container {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 8px 0;
    align-content: stretch;
  }
  .filter-container > section:not(:first-child) {
    border: none;
  }
  .teacher-photo-info-popup {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  .teacher-figure figcaption .teacher-name {
    font-size: 1.2rem;
  }
  .teacher-figure figcaption .teacher-subject {
    font-size: 0.9rem;
  }
  .teacher-figure figcaption .teacher-country {
    font-size: 0.7rem;
  }
  .teacher-figure .photo-star-container .star {
    width: 25px;
    top: 10%;
    right: 19%;
  }
}
.search-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.rotated-arrow {
  transform: rotate(180deg);
}

.invalid {
  outline: 2px red solid;
}

.more-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#moreButton {
  margin-bottom: 17px;
}

/*# sourceMappingURL=style.css.map */
